{% extends 'shop/basic.html' %}

{% block css %}
          .col-md-3{
                display:inline-block;
                margin-left:-4px;
          }
          .carousel-indicators .active{
                background-color:rgb(12,75,51);
          }
          .col-md-3 img{
                width:287px;
                height:235px;
          }
          body .carousel-indicator li{
                background-color: rgb(12,75,51);
          }
          body .carousel-indicators{
                bottom:0;
          }
          body .carousel-control-prev-icon,
          body .carousel-control-next-icon{
                background-color:rgb(12,75,51);
          }
          body .no-padding{
                padding-left:0;
                padding-right:0;
          }
            img .card-img-top{
                height:555px;
                width:555px;
            }
{% endblock %}


{% load static %}
{% block body %}
    <div class="container">
        <h2 class="my-3"> Fashions Deal </h2>
    <div id="demo" class="carousel slide my-3" data-ride="carousel">
        <ul class="carousel-indicators">
          <li data-target="#demo" data-slide-to="0" class="active"></li>

            {% for i in range %}
          <li data-target="#demo" data-slide-to="{{i}}"></li>
<!--          <li data-target="#demo" data-slide-to="{{i}}"></li>-->
            {% endfor %}
        </ul>

        <!--    slideshow-->
        <div class="container carousel-inner no-padding">

            <div class="carousel-item active">

                {% for i in product %}
                <div class="col-xs-3 col-sm-3 col-md-3">
                    <div class="card" style="width: 18rem">
                        <img class="card-img-top" src='/media/{{i.image}}' alt="Card image cap" />
                        <div class="card-body">
                            <h5 class="card-title">{{i.product_name}}</h5>
                            <p class="card-text">
                                {{i.desc}}
                            </p>
                            <a href="#" class="btn btn-success">Add to Cart</a>
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:4 and forloop.counter > 0 and not forloop.last%}
                </div><div class="carousel-item">
                {% endif %}

                {% endfor %}
                </div>
     </div>

    <!-- left and right controls for the slide -->
    <a class="carousel-control-next" href="#demo" data-slide="prev">
        <span class="carousel-control-next-icon"></span>
    </a>
    <a class="carousel-control-prev" href="#demo" data-slide="next">
        <span class="carousel-control-prev-icon"></span>
    </a>
{% endblock %}

</div>
</div>
